In [1]:
#import dependencies
import pandas as pd

In [3]:
# read the csv file in with pandas
cities = pd.read_csv("resources/cities.csv")
cities.head()

,City,id,Country,Lat,Lng,Date,Cloudiness,Humidity,Max Temp,Wind Speed
0,rikitea,4030556,PF,-23.120279,-134.969177,1607817600,100,80,75.54,12.44
1,hithadhoo,1282256,MV,-0.600000,73.083328,1607817600,41,77,82.22,17.11
2,bambous virieux,1106677,MU,-20.342779,57.757500,1607817600,55,78,75.38,16.62
3,lompoc,5367788,US,34.639149,-120.457939,1607817600,75,89,58.69,16.51
4,punta arenas,3874787,CL,-53.150002,-70.916672,1607817600,65,63,48.74,15.57

In [4]:
# convert cities to an html file
cities.to_html("cities.html")